@import "_global.scss";
@import "_vars.scss";

//header start

.header_inner {
    min-height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav {
    ul {
        margin-left: 80px;
        margin-right: 90px;
        li {
            display: inline-block;
            a {
                color: $text;
                font-size: 20px;
                font-family: "Fira Sans", sans-serif;
                &:hover {
                    text-decoration: underline;
                }
            }
            & + li {
                margin-left: 62px;
            }
        }
    }
}
.header_social {
    margin-right: 105px;
    a {
        & + a {
            margin-left: 40px;
        }
    }
}
.header_info {
    max-width: 201px;
    text-align: center;
    a {
        font-size: 24px;
        color: $text;
        font-family: "Lora", sans-serif;
    }
    span {
        color: $orange;
        font-size: 16px;
        font-family: "Lora", sans-serif;
    }
}

//header end

//request start

.request {
    min-height: 768px;
    background-image: url(../images/content/request-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.request,
.signup_form {
    form {
        input {
            display: block;
            max-width: 250px;
            width: 100%;
            border: 1px solid $grey;
            padding: 8px 14px;
            outline: none;
            margin-top: 15px;
            font-size: 14px;
            color: $grey;
            &::placeholder {
                font-size: 14px;
                color: $grey;
            }
        }
        button {
            max-width: 250px;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            outline: none;
            cursor: pointer;
            border: none;
            background-color: $orange;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}
.request_box,
.signup_form {
    max-width: 530px;
    padding: 54px 60px 57px;
    background-color: #fff;
    position: absolute;
    left: 335px;
    top: 93px;
}
.request_title {
    font-size: 48px;
    @include lora;
    margin-bottom: 40px;
}
.request_text {
    font-size: 18px;
    color: $text;
    margin-bottom: 25px;
}
.request_condition,
.signup_form-condition {
    color: $grey;
    font-size: 14px;
    max-width: 250px;
}
.promotion {
    position: absolute;
    bottom: -75px;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    height: 119px;
    padding: 18px 48px 18px 27px;
    background-color: #fff;
    display: flex;
}
.promotion_title {
    @include lora700;
    color: $orange;
    font-size: 36px;
    padding-right: 23px;
    border-right: 1px solid #ded4d4;
    padding-top: 18px;
    padding-left: 150px;
    position: relative;
    &::before {
        content: "";
        width: 75px;
        height: 83px;
        background-image: url(../images/shopping-left.png);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &::after {
        content: "";
        width: 54px;
        height: 58px;
        background-image: url(../images/shopping-right.png);
        position: absolute;
        left: 70px;
        bottom: 15px;
    }
}
.promotion_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    a {
        max-width: 250px;
        width: 100%;
        text-align: center;
        div {
            padding: 8px 0px;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            background-color: $orange;
            line-height: 16px;
        }
    }
}
.promotion_text {
    font-weight: 500;
    font-size: 24px;
    max-width: 550px;
    color: $text;
    margin-left: 30px;
    span {
        color: $orange;
    }
}

//request end

//advantages start

.advantages {
    position: relative;
    max-width: 1400px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-top: 164px;
}
.advantages_title {
    font-size: 36px;
    @include lora500;
    margin: 0 auto;
    text-align: center;
    max-width: 427px;
    margin-bottom: 98px;
    span {
        color: $orange;
    }
}
.advantages_content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 169px;
}
.advantages_item {
    &-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 23px;
        position: relative;
        span {
            position: absolute;
            @include lora;
            font-size: 24px;
            color: $dgrey;
            line-height: 31px;
            padding: 19px 22px;
            max-width: 70px;
            max-height: 70px;
            left: -90px;
            top: -23px;
            border: 1px solid $dgrey;
            border-radius: 50%;
        }
    }
    &-text {
        max-width: 378px;
    }
    & + .advantages_item {
        margin-top: 50px;
    }
    position: relative;
}
.advantages_content-left {
    .advantages_item {
        padding-left: 95px;
    }
}
.advantages_content-right {
    .advantages_item {
        padding-right: 95px;
        text-align: right;
        span {
            text-align: left;
            right: -93px;
            left: auto;
        }
    }
}
.advantages_img {
    position: absolute;
    top: 146px;
    left: 466px;
    z-index: -1;
}

//advantages end

//renovation start

.renovation {
    background-color: $beige;
    padding-bottom: 285px;
}
.renovation_box {
    display: flex;
    justify-content: space-between;
}
.renovation_title {
    padding-top: 90px;
    padding-bottom: 70px;
    @include lora500;
    font-size: 36px;
    text-align: center;
    div {
        font-size: 24px;
        padding-top: 10px;
    }
}
.renovation_item {
    max-width: 280px;
    width: 100%;
    position: relative;
}
.renovation_content {
    max-width: 240px;
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    text-align: center;
    &-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
    }
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 167px;
    &-info {
        font-size: 18px;
        div {
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &-btn {
        max-width: 200px;
        width: 100%;
        color: #fff;
        background-color: $orange;
        padding: 9px 0px;
    }
}
.renovation_item.renovation_recommend {
    .renovation_content {
        padding-top: 30px;
        top: 137px;
    }
    .renovation_content-title::before {
        content: "Рекомендуем!";
        font-size: 20px;
        font-weight: 600;
        display: block;
        text-decoration: underline;
        color: $orange;
        margin-bottom: 8px;
    }
}

//renovation end

//renovation-adv start

.renovation-adv_box {
    display: flex;
    justify-content: space-between;
    padding: 84px 0px;
}
.renovation-adv_content {
    &-title {
        @include lora500;
        font-size: 36px;
        span {
            color: $orange;
        }
        padding-bottom: 21px;
        max-width: 500px;
    }
    &-text {
        padding: 43px 33px;
        max-width: 650px;
        width: 100%;
        border: 1px solid #ded4d4;
        font-weight: 500;
        font-size: 20px;
    }
    &-row {
        & + .renovation-adv_content-row {
            margin-top: 30px;
        }
    }
}

//renovation-adv end

//signup start

.signup {
    background-color: $beige;
    padding: 90px 0px;
    position: relative;
}
.signup_inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.signup_box {
    max-width: 630px;
    width: 100%;
    &-title {
        @include lora500;
        font-size: 36px;
        margin-bottom: 45px;
        max-width: 609px;
        span {
            color: $orange;
        }
    }
    &-subtitle {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-img {
        background-repeat: no-repeat;
        width: 446px;
        height: 201px;
    }
    &-text {
        line-height: 24px;
        margin-bottom: 66px;
        div {
            & + div {
                margin-top: 22px;
            }
        }
    }
    & + .signup_box {
        padding-top: 100px;
        padding-bottom: 80px;
        max-width: 561px;
        .signup_box-title {
            max-width: 261px;
        }
    }
}
.signup_box.signup_box-advantages {
    .signup_box-text {
        padding-left: 200px;
        ul {
            li {
                padding-left: 44px;
                padding-top: 7px;
                padding-bottom: 10px;
                position: relative;
                & + li {
                    margin-top: 20px;
                }
                &::before {
                    content: "";
                    width: 34px;
                    height: 34px;
                    background-image: url(../images/icons/check.svg);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}
.signup_form {
    background-color: #fff;
    padding: 40px 45px;
    max-width: 430px;
    top: 128px;
    left: 275px;
    &-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &-desc {
        margin-bottom: 30px;
        span {
            text-decoration: underline;
        }
    }
    form {
        input {
            outline: none;
        }
    }
}
.showcase {
    max-width: 585px;
    width: 100%;
    margin-top: 90px;
    background-color: #fff;
    padding-bottom: 43px;
    max-height: 721px;
    & + .showcase {
        margin-top: 30px;
    }
    &_title {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    &_desc {
        padding: 30px 30px 0px 30px;
        &-row {
            & + .showcase_desc-row {
                margin-top: 15px;
            }
            span {
                font-weight: 600;
            }
        }
    }
    &_btn {
        margin-left: 30px;
        margin-top: 30px;
        max-width: 205px;
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: $orange;
        padding: 9px 0px;
    }
    &_slider {
        position: relative;
    }
}
.slick-prev,
.slick-next {
    position: absolute;
    top: 173px;
    z-index: 2;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    font-size: 0;
    padding: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}
.slick-prev {
    left: 20px;
    background-image: url(../images/icons/arrow-left.svg);
}
.slick-next {
    right: 20px;
    background-image: url(../images/icons/arrow-right.svg);
}
.slick-dots {
    margin: 0;
    margin-top: 10px;
    margin-bottom: -20px;
    text-align: center;
    li {
        display: inline-block;
        margin-left: -5px;
        margin-right: -5px;
        button {
            position: relative;
            visibility: hidden;
            &::before {
                visibility: visible;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 6px;
                height: 6px;
                background-color: #fff;
                border: 1px solid $grey;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        &.slick-active {
            button {
                &::before {
                    border: 2px solid $grey;
                    background-color: $grey;
                }
            }
        }
    }
}

//signup end

//faq start

.faq {
    padding-bottom: 72px;
}
.faq_title {
    text-align: center;
    padding-top: 90px;
    @include lora500;
    font-size: 36px;
    padding-bottom: 40px;
}
.faq_inner {
    display: flex;
    justify-content: space-between;
}
.faq_item {
    max-width: 585px;
    width: 100%;
    padding: 25px 0px;
    position: relative;
    &-title {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;
        cursor: pointer;
    }
    &-cross {
        width: 26px;
        height: 26px;
        background-image: url(../images/icons/cross.svg);
        cursor: pointer;
    }
    &-text {
        max-width: 528px;
        height: 0;
        overflow: hidden;
    }
    & + .faq_item {
        border-top: 1px solid #a5a5a5;
    }
}
.faq_item.active {
    .faq_item-title {
        margin-bottom: 15px;
    }
    .faq_item-text {
        height: auto;
    }
    .faq_item-cross {
        background-image: url(../images/icons/minus.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}
.faq_form {
    border: 1px solid #ded4d4;
    padding: 40px;
    max-width: 450px;
    &-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
    }
    form {
        input {
            display: block;
            max-width: 250px;
            width: 100%;
            border: 1px solid $grey;
            padding: 8px 14px;
            outline: none;
            margin-top: 15px;
            font-size: 14px;
            color: $grey;
            &::placeholder {
                font-size: 14px;
                color: $grey;
            }
        }
        button {
            max-width: 250px;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            outline: none;
            cursor: pointer;
            border: none;
            background-color: $orange;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    &-condition {
        font-size: 14px;
        color: $grey;
        max-width: 250px;
    }
}

//faq end

//footer start

.footer {
    background-color: #46423b;
    padding-top: 90px;
    color: #e4e4e4;
    a {
        color: #e4e4e4;
        font-size: 18px;
    }
}
.footer_inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.footer_logo {
    margin-bottom: 20px;
}
.footer_text {
    font-size: 18px;
    max-width: 273px;
    & + .footer_text {
        margin-top: 40px;
        line-height: 27px;
    }
}
.footer_item {
    & + .footer_item {
        margin-left: 140px;
    }
    &-title {
        margin-top: 15px;
        @include lora;
        font-size: 24px;
        color: #fff;
        margin-bottom: 35px;
    }
    ul {
        li {
            color: #e4e4e4;
            font-size: 18px;
            & + li {
                margin-top: 25px;
            }
        }
    }
}
.footer_phone,
.footer_whatsapp,
.footer_mail {
    padding-left: 28px;
    position: relative;
    &::before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 2px;
        background-repeat: no-repeat;
    }
}
.footer_phone {
    a {
        text-decoration: underline;
    }
    &::before {
        background-image: url(../images/icons/phone.svg);
    }
}
.footer_whatsapp::before {
    background-image: url(../images/icons/whatsapp.svg);
}
.footer_mail::before {
    background-image: url(../images/icons/mail.svg);
}
.footer_copyright {
    border-top: 1px solid #6c6a65;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 21px;
}

//footer end

@import "media.scss";
