@import "_global.scss";
@import "_vars.scss";

//header start

.header_inner{
    min-height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav{
    ul{
        margin-left: 80px;
        margin-right: 97px;
        li{
            display: inline-block;
            a{
                color: $text;
                font-size: 20px;
                font-family: 'Fira Sans', sans-serif;
                &:hover{
                    text-decoration: underline;
                }
            }
            &+li{
                margin-left: 62px;
            }
        }
    }
}
.header_social{
    margin-right: 105px;
    a{
        
        &+a{
            margin-left: 40px;
        }
    }
}
.header_info{
    max-width: 201px;
    text-align: center;
    a{
        font-size: 24px;
        color: $text;
        font-family: 'Lora', sans-serif;
    }
    span{
        color: $orange;
        font-size: 16px;
        font-family: 'Lora', sans-serif;
    }
}

//header end

//request start

.request{
    min-height: 768px;
    background-image: url(../images/content/request-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.request_box{
    max-width: 427px;
    padding: 54px 60px 57px;
    background-color: #fff;
    
}

//request end

@import "media.scss";